#page {
  width: 8.5in;
  height: 11in;
  border: 2px solid black;

}
#mark {
  width: 0.5in;
  height: 0.8in;
  border: 2px solid black;

}
#yearNum {
  width: 0.8in;
  height: 0.5in;
  border: 2px solid black;

}
#coin {
  width: 0.8in;
  height: 0.8in;
  border: 2px solid black;
  border-radius: 0.8in;
}